# Virtual environments
venv/
env/
*.conda
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Logs and temp files
logs/
*.log
*.tmp
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# Databases
*.db

# Model files
models/