# Virtual environments
venv/
env/
*.conda
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# Databases
*.db

# Model files
models/

# datasets
gt_avg_test.csv
gt_avg_train.csv
gt_avg_valid.csv
